.hand {
  display: inline-block;
  margin: 1rem;
}
.small {
  width: 125px;
}

cash-box {
  background-color: #ffc107;
  padding: 1rem;
  color: black;
}
h1 {
  color: white;
}
.btn {
  width: 150px;
  margin: 1rem;
}

.game-overview {
  background-color: black;
  border-top-color: black;
  border-top-style: solid;
  color: white;
  padding: 1rem;
}
h4 {
  color: white;
}

h4 {
  color: black;
}
.betting-interface {
  background-color: lightgrey;
  padding: 1rem;
}