.navbar {
  display: inline-flex;

  a {
    margin: 10px;
    width: 150px;
    height: 45px;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5rem;

    p {
      margin: 0;
      display: inline-grid;
      align-content: center;
    }

    &:hover {
      background-color: white;
      transition: 0.2s;
    }
  }
}